.header{
    background-color: #1DAB3F;
    height:150px;
    overflow: hidden;
}
#logoheader{
    padding:0;
    margin: 0 0 0 5%;
    font-size: 80px;
    line-height: 150px;
    color:whitesmoke;
    display: inline;
}
#moto{
    margin:0;
    display: inline;
    font-size: 20px;
}
ul#navbar{
    list-style-type: none;
    text-decoration: none;
    float:right;
    margin-right:5%;
    line-height: 150px;
}
#navbar li{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 150px;
}

#navbar li:hover{
    text-decoration: underline;
}

#navbar li a{ 
    text-decoration: none;
    font-size: 40px;
    color: whitesmoke;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', serif;
    background-color: ghostwhite;
    min-height: 100%;
}
#footerSmall{

    text-align: center;
    margin:0;
    bottom:0;
    background-color: #1DAB3F;
    padding: 15px 0 15px 0;
    color:whitesmoke;
    position: absolute;
    bottom: 0;
    width:100%;
}
#footer{

    text-align: center;
    margin:0;
    bottom:0;
    background-color: #1DAB3F;
    padding: 15px 0 15px 0;
    color:whitesmoke;
    position: relative;
    bottom: 0;
    width:100%;
}
.title{
    padding-top:30px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 35px;
    color:lightslategray;
}
#profile{
    margin: 5% 10% 5% 10%;
}
#profile_image{
    float:left;
    padding-right: 20px;
}
#profile.info{
    padding-left: 20px;
    float:left;
}
#work_organizations{
    text-align: center;
    width:100%;
}
#work_organizations table{
    width:100%;
    margin-bottom: 5%;
    border-spacing: 30px;
    margin:auto;
    
}
#dev{
    cursor: pointer;
}

td{
    width:50vw;
    height:25vh;
    position: relative;
    background-color: lightblue;
}
td:hover{
    background-color: lightskyblue;
    cursor: pointer;
}
#dev span:hover{
    cursor: pointer;
}
.project{
    margin:10%;
}
.project p{
    padding:20px 20px 5px 20px;
}
video{
    float:right;
    margin-left:50px;
}
ul.links li{
    text-decoration: none;
}

.links li:hover{
    cursor: pointer;
}
.links li p{
    padding: 0;
    margin:0;
    color: purple;
}
#contact{
    text-align: center;
}