<style>
    .customUnderline {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    }

    .customUnderline a:hover {
        color: var(--green);
    }

    .customUnderline:hover {
        color: var(--green);
    }

    .customUnderline::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--green);
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.3s ease;
    }

    .customUnderline:hover::before {
        transform: scaleX(1);
    }
</style>

<section class="item-100">
    <img src="../../assets/logo-light.png" width="50" height="50" class="margin-10p pad-20p">
    <ul class="list-inline d-inline f-right margin-right-10 font-header font-md bold snow" style="font-family: 'Raleway', sans-serif;">
        <li class="margin-left-10 pointer customUnderline"><a class='link-clear snow' href='#services'>services</a></li>
        <li class="margin-left-10 pointer customUnderline"><a class='link-clear snow' href='#work'>our work</a></li>
        <li class="margin-left-10 pointer customUnderline">contact</li>
    </ul>
</section>